* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Hiragino Kaku Gothic ProN;
}

a {
    text-decoration: none;
}

/* .container {
    
} */

header {
    height: 65px;
    width: 100%;
    /* background-color: rgba(34, 49, 52, 0.9); */
    background-color: rgba(46, 50, 51, 0.3);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 65px;
    height: 65px;
    opacity: 0.65;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-right a {
    line-height: 65px;
    display: block;
    float: left;
    transition: all 0.5s;
    padding: 0 25px;
    color: white;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
    display: none;
}

.top-wrapper {
    background: linear-gradient(-45deg, rgba(246, 255, 0, .7), rgba(255, 0, 161, .7)),
    url(../images/garden0.png);
    background-size: cover;
    text-align: center;
    padding: 180px 0;
    height: 790px;
}

/* .main-wrapper {
    background-color: #32525c;
    text-align: center;
    padding: 30px 0;
} */

.top-wrapper h1 {
    color: rgba(255, 255, 255, .9);
}

.top-wrapper h2 {
    color: rgba(255, 255, 255, .9);
}

.icon span {
    margin: 0 15px;
}

/* .icon a {
    margin: 0;
    padding: 0;
} */

.fa-twitter-square {
    color: rgba(29, 161, 242, .7);
}

.fa-facebook-square {
    color: rgba(59, 89, 152, .7);
}

.fa-instagram {
    color: rgba(225, 48, 108, .7);
}
