* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Hiragino Kaku Gothic ProN;
    background: linear-gradient(-45deg, rgba(246, 255, 0, .7), rgba(255, 0, 161, .7)),
    url(../images/garden0.png);
    background-size: cover;
}

a {
    text-decoration: none;
}

header {
    height: 65px;
    width: 100%;
    /* background-color: rgba(34, 49, 52, 0.9); */
    background-color: rgba(46, 50, 51, 0.3);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 65px;
    height: 65px;
    opacity: 0.65;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-right a {
    line-height: 65px;
    display: block;
    float: left;
    transition: all 0.5s;
    padding: 0 25px;
    color: white;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.container {
    margin: 0 auto;
    padding: 80px 0;
    width: 1200px;
}

.row {
    text-align: center;
}

.r-2 img {
    height: 540px;
}

.r-3 img {
    height: 559px;
}