* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Hiragino Kaku Gothic ProN;
    background: linear-gradient(-45deg, rgba(246, 255, 0, .7), rgba(255, 0, 161, .7)),
    url(../images/garden0.png);
    background-size: cover;
    height: 790px;
}

a {
    text-decoration: none;
}

header {
    height: 65px;
    width: 100%;
    /* background-color: rgba(34, 49, 52, 0.9); */
    background-color: rgba(46, 50, 51, 0.3);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 65px;
    height: 65px;
    opacity: 0.65;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-right a {
    line-height: 65px;
    display: block;
    float: left;
    transition: all 0.5s;
    padding: 0 25px;
    color: white;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.main-wrapper {
    padding: 150px 0;
    text-align: center;
}

.main-wrapper h1 {
    color: rgb(221, 207, 207);
    font-size: 40px;
}

.main-wrapper p {
    color: rgb(221, 207, 207);
    font-size: 20px;
}

.question{
    display: block;
    margin: 40px 0;
}

.btn {
    margin: 30px;
}

form input {
    opacity: 0.8;
}